<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.goms.web.oss.biz.repository.MemberRepository">
    <select id="selectAllMember" parameterType="kr.co.goms.web.oss.biz.service.dto.MemberInDto" resultType="kr.co.goms.web.oss.biz.service.dto.MemberOutDto">
        SELECT mb_idx as mbIdx, mb_Id as mbId, mb_pwd as mbPwd, mb_name as mbName, mb_role as mbRole, regdate as regdate FROM member
   </select>
</mapper>
