<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.goms.web.oss.biz.repository.FieldDetailRepository">
    <delete id="delFieldDetail" parameterType="kr.co.goms.web.oss.biz.service.dto.FieldDetailDelInDto" >
        DELETE FROM goms_field_detail WHERE field_detail_idx = #{fieldDetailIdx}
   </delete>
</mapper>
