<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.goms.web.oss.biz.repository.CompanyRepository">
    <select id="getCompany" parameterType="kr.co.goms.web.oss.biz.domain.CompanyIdxIn" resultType="kr.co.goms.web.oss.biz.service.dto.CompanyIdxOutDto">
        SELECT com_idx as comIdx, com_name as comName, useflag as useflag, regdate as regdate FROM company WHERE com_idx = #{comIdx}
   </select>
</mapper>
